<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bkybk.dao.UserCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.bkybk.model.UserCategory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, cid
  </sql>
  <sql id="Example_Where_Clause" >
    <where>
      <if test="id != null" >
       and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="uid != null" >
       and uid = #{uid,jdbcType=INTEGER}
      </if>
      <if test="cid != null" >
       and cid = #{cid,jdbcType=INTEGER}
      </if>
    </where>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from usercategory
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from usercategory
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bkybk.model.UserCategory" >
    insert into usercategory (id, uid, cid)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bkybk.model.UserCategory" >
    insert into usercategory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="cid != null" >
        cid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bkybk.model.UserCategory" >
    update usercategory
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bkybk.model.UserCategory" >
    update usercategory
    set uid = #{uid,jdbcType=INTEGER},
      cid = #{cid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getAll" resultMap="BaseResultMap">
  	select id, Login_name, password, name, Email, Phone, Address, last_Login_Time, Regist_Time, 
    Category_id from user
  </select>
  
  <select id="getUserCategoryList" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	 from usercategory
  	<include refid="Example_Where_Clause" />
  	 
  </select>
  
  
  
</mapper>